<%= form_with(model: delivery_info, local: true) do |form| %>
  <% if delivery_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_info.errors.count, "error") %> prohibited this delivery_info from being saved:</h2>

      <ul>
      <% delivery_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address_line_1 %>
    <%= form.text_field :address_line_1, id: :delivery_info_address_line_1 %>
  </div>

  <div class="field">
    <%= form.label :addresss_line_2 %>
    <%= form.text_field :addresss_line_2, id: :delivery_info_addresss_line_2 %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.number_field :phone_number, id: :delivery_info_phone_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
