<p id="notice"><%= notice %></p>

<p>
  <strong>Costumer:</strong>
  <%= @order.costumer %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @order.payment_type %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Delivery info:</strong>
  <%= @order.delivery_info %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
